.BoardDetailWrapper{
/*     border: 5px solid black; */
    position: relative;
    width: 50%;
    height: 60%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;    
}
.BoardDetailHeader{
    width: auto;
    min-height: 60px;
}

.BoardDetailHeader > h1{
    display: inline;
    margin-top: 30px;
    margin-left: 20px;
}
.BoardDetailHeader > span {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 5px;
    float: right;
}
.BoardDetailHeader > input{
    width: 40%;
    margin-top: 25px;
    margin-bottom: 20px;
    float: right;
    font-size: large;
}

.BoardDetail{
    border: 1px solid black;
    min-height: 80%;
    padding: 20px;
}

.BoardDetail>ul{
    all: unset;
}


.BoardDetail > ul> li{
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    list-style-type: none;
    font-size: 30px;
    line-height:20px;
    font-weight: 200;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    border-collapse: collapse;
    display: flex;
    flex: 1;
    align-items: center;
}

.BoardDetail> ul > li:hover{
    color: rgb(107, 201, 119);
}

.BoardDetail >ul> li:active{
    color: rgb(184, 48, 48);
}
.BoardDetail > ul> li .person{
    display: flex;
    font-size: 40px;
    padding-right: 10px;
    align-items: center;
}

/* 하단 버튼 css */

.buttonWrap{
    display: flex;
    align-items: right;
    justify-content: right;
}

.buttonWrite{
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 20px;
    }

    .buttonWrite:hover {
        background-color: #48e63acf;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    .buttonLike{
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin-top: 20px;
        }

        .buttonLike:hover {
            background-color: #48e63acf;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }
    
    .buttonMywrite{
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        margin-top: 20px;
        margin-left: 20px;
        }

        .buttonMywrite:hover {
        background-color: #48e63acf;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
        }



.BoardPaging{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px auto;
    margin-top: 10px;
    width: 200px;
    
}