.BoardDetailWrapper{
    /* border: 1px solid black; */
    position: relative;
    width: 50%;
    height: 60%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.BoardDetailHeader{
    width: auto;
    min-height: 60px;
}

.BoardDetailHeader > h1{
    display: inline;
    margin-top: 30px;
    margin-left: 20px;
}
.BoardDetailHeader > span {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 5px;
    float: right;
    
}
.BoardDetailHeader > input{
    width:  250px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 20PX;
    float: right;
    font-size: large;
}

.BoardDetail{
    
    min-height: 80%;
    padding: 20px;
}

.BoardDetail> .title{
    border: 1px solid black;
    min-height: 80px;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 30px;
    text-align: center;
}
.BoardDetail> .content{
    border: 1px solid black;
    min-height: 30vw;
    
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
}



.BoardDetail> .replDiv{
    padding: 10px;
    border: 1px solid black;
    min-height: 10vw;
}

.BoardDetail > .replDiv > .commentCount{
    
    display: inline;
    font-size: 20px;
    margin: 5px;
}

.BoardDetail > .replDiv > .like{
    border: 1px solid black;
    
}

.BoardDetail > .replDiv > .comment{
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    width: auto;
    height: auto;
}

.BoardDetail > .replDiv > .comment p{
    padding: 10px;
    font-size: 20px;
}

.BoardFooter{
    min-height: 30px;
    padding: 20px;
    padding-bottom: 30px;
    
}
.BoardFooter>form{
    all: unset;
}

.BoardFooter >form>textarea{
    width: 100%;

}
.BoardFooter >form> button{
    float: right;
    margin-bottom: 5px;
}

.BoardPaging{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px auto;
    width: 200px;
    margin-top: 20px;
}

